html {
	height: 100%;
	font-size: var(--main-font-size);
}

body {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	height: auto;
	min-height: 100%;
	font-family: monospace;
	font-size: 1.7rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.2;
	color: $color-black;

	@include large-desktop {
		font-size: 1.9rem;
	}

	@include large-mobile {
		font-size: 1.4rem;
		line-height: 1.1;
	}
}

.wrapper {
	@include wrapper-layout;
}

.svg-icon {
	width: 100%;
}

.object-fit {
	&-cover {
		@include object-fit-cover;
	}

	&-contain {
		@include object-fit-contain;
	}
}

.visually-hidden {
	@include visually-hidden;
}

.user-select-none {
	user-select: none;
}

.pointer-events-none {
	pointer-events: none;
}

.scrollbar {
	max-height: 100%;

	@include overflow-y-scroll;

	/* Width */
	&::-webkit-scrollbar {
		display: block;
		width: 4px;

		@include large-tablet {
			width: 2px;
		}
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: #ccc;
		border-radius: 100px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #000;
		border-radius: 100px;
	}
}
