.h1,
.content h1 {
}

.h2,
.content h2 {
}

.h3,
.content h3 {
}

.h4,
.content h4 {
}

.h5,
.content h5 {
}

.h6,
.content h6 {
}

@include headings {
}

.content ul,
.unordered-list {
	li {
	}
}

.content ol,
.ordered-list {
	li {
	}
}

.content p,
.p {
}

.content b,
.b,
b {
}

.content strong,
.strong,
strong {
}

.content {
}

em,
i,
.em,
.i {
	font-style: italic;
}

.color-black {
	color: $color-black;
}
