@mixin item-self($count, $margin: 0, $add-margin: true) {
	@if $margin == 0 {
		width: (div(100, $count) * 1%);
	} @else {
		width: calc(#{div(100, $count)}% - #{$margin * 2}rem);
	}

	@if $add-margin == true {
		margin: #{$margin}rem;
	}
}

@mixin list-self($margin: 0) {
	margin-right: -#{$margin}rem;
	margin-left: -#{$margin}rem;
}

@mixin items($count, $margin: 0, $add-margin: true) {
	@if $add-margin == true {
		margin: -#{$margin}rem;
	}

	> * {
		@if $margin == 0 {
			width: (div(100, $count) * 1%);
		} @else {
			width: calc(#{div(100, $count)}% - #{$margin * 2}rem);
		}

		@if $add-margin == true {
			margin: #{$margin}rem;
		}
	}
}

@mixin headings {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@content;
	}
}

@mixin max-rows($rows, $line-height: false, $max-height: false, $only-height: false) {
	@if $line-height == false {
		display: -webkit-box;
		-webkit-line-clamp: $rows;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	} @else {
		line-height: #{$line-height}rem;

		@if $max-height == false {
			height: #{$line-height * $rows}rem;
		} @else {
			max-height: #{$line-height * $rows}rem;
		}

		@if $only-height == false {
			display: -webkit-box;
			-webkit-line-clamp: $rows;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

@mixin fix-border-radius {
	mask-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC');
}

@mixin text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin default-transition-state {
	transition-timing-function: $default-transition-function;
	transition-duration: $default-transition-duration;
}

@mixin text-underline {
	text-decoration: underline 1px solid currentColor;
	text-decoration-skip-ink: none;
}

@mixin scrollbar-hidden {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@mixin wrapper-layout {
	width: 100%;
	max-width: calc(var(--wrapper-size) + (2 * var(--wrapper-offset)));
	padding: 0 var(--wrapper-offset);
	margin: 0 auto;
}

@mixin object-fit-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@mixin object-fit-contain {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

@mixin visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: unset;
}

@mixin overflow-y-scroll {
	overflow: hidden auto;
	-webkit-overflow-scrolling: touch;
}

@mixin overflow-x-scroll {
	overflow: auto hidden;
	-webkit-overflow-scrolling: touch;
}
