:root {
	--main-font-size: #{div(100, div(1920, 10))}vw;
	--wrapper-offset: 10rem;
	--wrapper-size: 192rem;
	--section-offset: 0;

	@include large-desktop {
		--main-font-size: #{div(100, div(1920, 11))}vw;
	}

	@include small-desktop {
		--main-font-size: #{div(100, div(1920, 12))}vw;
	}

	@include large-tablet {
		--main-font-size: 50%;
		--wrapper-offset: 4rem;
	}

	@include large-mobile {
		--main-font-size: 62.5%;
		--wrapper-offset: 2rem;
	}

	@include small-mobile {
		--main-font-size: #{div(100, div(375, 10))}vw;
	}
}
