$color-black: #000;
$default-transition-duration: 0.3s;
$default-transition-function: cubic-bezier(0.33, 1, 0.68, 1);
$hd-resolution: 1920;
$macbook-resolution: 1700;
$large-desktop-resolution: 1440;
$small-desktop-resolution: 1280;
$large-tablet-resolution: 1120;
$small-tablet-resolution: 820;
$large-mobile-resolution: 580;
$small-mobile-resolution: 440;
