mixin part-breadcrumbs(props = {})
	-
		const { modes, list } = props;

		const partBreadcrumbsFilteredClasses = [
			modes && `_${modes.join(' _')}`,
			'flex _nowrap _vertical',
		].filter((el) => el).join(' ');

	+b.NAV.part-breadcrumbs(class=partBreadcrumbsFilteredClasses)&attributes(attributes)
		each link, index in list
			if link.url
				+e.A.link(href=link.url) #{ link.text }
			else
				+e.link #{ link.text }
