-
	const partHeaderData = {
		section: {
			tag: 'header',
			id: 'part-header',
			isSectionClass: false,
		},
	};

mixin part-header(props = {})
	-
		const { section } = partHeaderData;

	+section(section).part-header__.js-part-header&attributes(attributes)
