-
	const partFooterData = {
		section: {
			tag: 'footer',
			id: 'part-footer',
			isSectionClass: false,
		},
	};

mixin part-footer(props = {})
	-
		const { section } = partFooterData;

	+section(section).part-footer__.js-part-footer&attributes(attributes)
