@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use 'sass:meta';
@use 'sass:selector';
@use 'sass:string';
@import '@styles/default-styles';

.page-list {
	min-height: calc(100vh - 56px);
	padding-top: 40px;
	font-family: Arial, sans-serif;
	color: #fff;
	background-color: #212122;

	@include large-tablet {
		min-height: calc(100vh - 36px);
		padding-top: 20px;
	}

	@include large-mobile {
		min-height: calc(100vh - 26px);
		padding-top: 10px;
	}

	&__wrap {
		width: 100%;
		max-width: calc(100% - 80px);
		margin: 0 auto;

		@include large-tablet {
			max-width: calc(100% - 40px);
		}

		@include large-mobile {
			max-width: calc(100% - 20px);
		}
	}

	&__box {
		padding: 20px 40px;
		background-color: #000;

		@include large-tablet {
			padding-right: 30px;
			padding-left: 30px;
		}

		@include large-mobile {
			padding-right: 20px;
			padding-left: 20px;
		}
	}

	&__header {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		font-size: 24px;
		line-height: 1.4em;

		@include large-mobile {
			order: 2;
		}

		span {
			color: #7fffd4;
		}
	}

	&__git-link {
		display: block;
		margin: 5px 0;
		font-size: 12px;
		line-height: 1.2em;
		color: rgb(255 255 255 / 20%);
		transition: ease 0.2s;

		@include large-mobile {
			order: 1;
			margin-bottom: 15px;
			font-size: 10px;
		}

		&:hover {
			color: #96fd8b;
		}
	}

	&__link {
		position: relative;
		display: inline-block;
		color: #fff;
		text-decoration: none;

		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 1px;
			content: '';
			background-color: #fff;
			transition: ease 0.2s;
			transform: scale(0, 1);
		}

		&:hover::before {
			transform: scale(1, 1);
		}

		&:visited {
			color: #96fd8b;
		}

		&:visited::before {
			background-color: #96fd8b;
		}
	}

	&__items {
		padding: 0;
		margin-top: 16px;
		margin-bottom: 25px;
		margin-left: -25px;
		counter-reset: heading;
		column-count: 3;

		@include small-tablet {
			column-count: 2;
		}

		@include large-mobile {
			column-count: 1;
		}
	}

	&__item {
		position: relative;
		padding-left: 30px;
		margin-bottom: 8px;
		font-size: 16px;
		list-style: none;
		counter-increment: heading;
		page-break-inside: avoid;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 25px;
			margin-right: 5px;
			font-size: 14px;
			color: rgb(241 241 241 / 50%);
			text-align: right;
			content: counter(heading) '.';
		}
	}
}
