doctype html

html(lang='ru')
	head
		meta(charset='UTF-8')

		meta(
			name='viewport'
			content='width=device-width, initial-scale=1, user-scalable=no'
		)

		meta(
			name='format-detection'
			content='telephone=no'
		)

		meta(
			http-equiv='X-UA-Compatible'
			content='IE=edge'
		)

		title Страницы проекта&nbsp;«#project-name»:

		link(
			rel='icon'
			href=require('@images/common/favicon.svg')
			type='image/svg+xml'
			sizes='any'
		)

		style= require('./page-list.scss?inline')

	body.page-list
		.page-list__wrap
			.page-list__box
				.page-list__header
					h3.page-list__title
						| Страницы проекта&nbsp;
						span «#project-name»:
					a.page-list__git-link(
						href='https://gitlab.com/ladown'
						target='_blank'
					) ladown
				#page-list
