.section {
	padding: var(--section-offset) 0;

	&:not(.section_padding-omit-top):first-child {
		padding-top: 0;
	}

	&:not(.section_padding-omit-bottom):last-child {
		padding-bottom: 0;
	}

	&_padding {
		&-omit {
			padding: 0;

			&-top {
				padding-top: 0;
			}

			&-bottom {
				padding-bottom: 0;
			}
		}
	}
}
