extends @views/layouts/default.pug

block append vars
	-
		CommonSettings.pageName = 'index';
		CommonSettings.title = 'Главная страница';

block append head-start

block append styles
	link(
		href=require('./index-page.scss')
		rel='stylesheet'
	)

block append head-end

block append body-start

block append header

block content

block append footer

block append popups

block append tooltips

block append scripts

block append body-end
