//- core
include core/bemto/bemto
include core/svg-icon
include core/slider/slider-core

//- buttons
include buttons/button-primary
include buttons/button-icon
include buttons/button-burger

//- items

//- forms
include forms/form-field

//- parts
include parts/part-header
include parts/part-main-content
include parts/part-footer
include parts/part-breadcrumbs

//- modules
include modules/module-photo

//- tooltips

//- popups

//- sections
include sections/section-core
