mixin button-icon(props = {})
	-
		const { tag, url, elementModes, modes, icon, jsClass, responsiveClass, download, target, popupId } = props;

		const buttonIconFilteredClasses = [
			elementModes && `_${elementModes.join(' _')}`,
			'button-icon__',
			modes && `_${modes.join(' _')}`,
			responsiveClass,
			jsClass,
		].filter((el) => el).join(' ');

		const buttonIconIconFilteredClasses = [
			icon && `_${icon.name}`,
			'no-pe',
		].filter((el) => el).join(' ');

	+e({tag: url ? 'a' : tag || 'button'}).button-icon(
		href=url
		class=buttonIconFilteredClasses
		download=download
		target=target
		data-popup-id=popupId
	)&attributes(attributes)
		if icon
			+e.SPAN.icon(class=buttonIconIconFilteredClasses)
				+svg-icon(icon)
