mixin button-primary(props = {})
	-
		const { tag, url, elementModes, modes, icon, jsClass, responsiveClass, download, target, popupId } = props;

		const buttonPrimaryFilteredClasses = [
			elementModes && `_${elementModes.join(' _')}`,
			'button-primary__',
			modes && `_${modes.join(' _')}`,
			responsiveClass,
			jsClass,
		].filter((el) => el).join(' ');

		const buttonPrimaryIconFilteredClasses = [
			icon && `_${icon.name}`,
			'no-pe',
		].filter((el) => el).join(' ');

	+e({tag: url ? 'a' : tag || 'button'}).button-primary(
		href=url
		class=buttonPrimaryFilteredClasses
		download=download
		target=target
		data-popup-id=popupId
	)&attributes(attributes)
		if icon
			+e.SPAN.icon(class=buttonPrimaryIconFilteredClasses)
				+svg-icon(icon)
		if block
			+e.SPAN.text.no-pe
				block
