mixin button-burger(props = {})
	-
		const { elementModes, responsiveClass, isActive, jsClass, popupId } = props;

		const buttonBurgerFilteredClasses = [
			elementModes && `_${elementModes.join(' _')}`,
			'button-burger__',
			responsiveClass,
			jsClass,
			isActive && 'is-active',
		].filter((el) => el).join(' ');

	+e.BUTTON.button-burger(class=buttonBurgerFilteredClasses data-popup-id=popupId)&attributes(attributes)
		+e.SPAN.icon
