mixin form-field(props = {})
	-
		const { modes, isTextArea, label, type, inputmode, name, placeholder, required } = props;

		const formFieldFilteredClasses = [
			modes && `_${modes.join(' _')}`,
			isTextArea && "_textarea",
			'flex _nowrap _start',
			'js-form-field',
		].filter((el) => el).join(' ');

	+e.LABEL.form-field.form-field__(class=formFieldFilteredClasses)&attributes(attributes)
		if label
			+e.label #{ label }
		+e.content
			+e({tag: isTextArea ? 'textarea' : 'input'}).input.js-form-field-input(
				type=type
				inputmode=inputmode
				name=name
				placeholder=placeholder
				data-form-field-required=required
			)
			+e.error.h6 #{ errorDefaultText }
