mixin slider-pagination(props = {})
	-
		const { modes, responsiveClass } = props;
		const paginationClasses = [
			modes ? `_${modes.join(' _')}` : '',
			'splide__pagination',
			responsiveClass,
		].filter(el => el).join(' ');

	+e.slider-pagination.slider-pagination(class=paginationClasses)&attributes(attributes)
