-
	const sliderButtonData = {
		defaultIcon: {
			name: 'arrow-slider',
			viewBox: '0 0 60 60',
		},
	};

mixin slider-button(props = {})
	-
		const { defaultIcon } = sliderButtonData;
		const { modes, icon } = props;
		const sliderButtonIcon = icon || defaultIcon;
		const filteredButtonClasses = [
			modes && `slider-button_${modes.join('slider-button_')}`,
		].filter((el) => el).join(' ')

	button.slider-button(class=filteredButtonClasses)&attributes(attributes)
		+svg-icon(sliderButtonIcon)
