mixin slider(props = {})
	-
		const { id, modes, jsClass, responsiveClass, responsive, settings, navigation, pagination } = props;
		const sliderFilteredClasses = [
			modes && `_${modes.join(' _')}`,
			responsiveClass,
			jsClass,
		].filter((el) => el).join(' ')

	+e.slider-outer&attributes(attributes)
		+e.slider.splide(
			id=id
			class=sliderFilteredClasses
			role='group'
			aria-label='Splide Slider'
			data-slider-settings=settings
			data-slider-responsive=responsive
		)
			if block
				.splide__track
					.splide__list
						block

			if navigation
				+slider-navigation(navigation)

			if pagination
				+slider-pagination(pagination)
