mixin slider-navigation(props = {})
	-
		const { id, button, responsiveClass, modes } = props;
		const [prevButtonClass, nextButtonClass] = [
			`${id ? `js-slider-${props.id}-prev` : ''}`,
			`${id ? `js-slider-${props.id}-next` : ''}`,
		];
		const filteredSliderNavigationClasses = [
			modes && `_${modes.join(' _')}`,
			'splide__arrows',
			'flex',
			responsiveClass && responsiveClass,
		].filter((el) => el).join(' ')

	+e.slider-navigation.slider-navigation__(class=filteredSliderNavigationClasses)&attributes(attributes)
		+slider-button(props.button).slider-button_prev.splide__arrow.splide__arrow--prev(class=prevButtonClass)
		+slider-button(props.button).slider-button_next.splide__arrow.splide__arrow--next(class=nextButtonClass)
