include @views/partials/partials-loader.pug

block vars
	-
		const CommonSettings = {
			pageName: '',

			title: 'Title',

			html: {
				attrs: {
					lang: 'ru',
					dir: 'ltr'
				},
				modes: [],
			},

			body: {
				attrs: {},
				modes: [],
			},

			main: {
				attrs: {},
				modes: [],
			},
		};

doctype html
html(class=CommonSettings.html.modes)&attributes(CommonSettings.html.attrs)
	head
		block head-start

		meta(charset='utf-8')

		meta(
			name='viewport'
			content='width=device-width, initial-scale=1, viewport-fit=cover'
		)

		meta(
			http-equiv='X-UA-Compatible'
			content='IE=edge'
		)

		meta(
			name='format-detection'
			content='telephone=no'
		)

		title
			| #{ CommonSettings.title }

		link(
			rel='icon'
			href=require('@images/common/favicon.svg')
			type='image/svg+xml'
			sizes='any'
		)

		block styles
			link(
				href=require('@styles/base/fonts.scss')
				rel='stylesheet'
			)

			link(
				href=require('@styles/vendors.scss')
				rel='stylesheet'
			)

			link(
				href=require('@styles/app.scss')
				rel='stylesheet'
			)

		block head-end

	body(class=CommonSettings.body.modes)&attributes(CommonSettings.body.attrs)
		block body-start

		block header
			+part-header

		+part-main-content(class=CommonSettings.main.modes)&attributes(CommonSettings.main.attrs)
			block content

		block footer
			+part-footer

		include popups

		include tooltips

		block scripts
			script(src=require('@scripts/app.js'))

		block body-end
