mixin module-photo(props = {})
	-
		const { elementClass, elementModes, blockClass, blockModes, url, alt = 'photo', imageClass, webp, responsivePhoto, isObjectFitCover = true, isObjectFitContain = false  } = props;

		const modulePhotoFilteredClasses = [
			elementClass || 'module-photo',
			elementModes && `_${elementModes.join(' _')}`,
			blockClass || 'module-photo__',
			blockModes && `_${blockModes.join(' _')}`,
		].filter((el) => el).join(' ')

		const modulePhotoImgFilteredClasses = [
			isObjectFitCover && 'object-fit-cover',
			isObjectFitContain && 'object-fit-contain',
			imageClass,
		].filter((el) => el).join(' ');

		const defaultResponsive = {
			resolution: 580,
			mediaQuery: 'max',
		};

	+e.PICTURE(class=modulePhotoFilteredClasses)&attributes(attributes)
		if responsivePhoto && responsivePhoto.length
			each photo in responsivePhoto
				-
					const responsive = photo.responsive || defaultResponsive;

				if photo.url
					source(
						srcset=require(photo.url)
						media=`(${responsive.mediaQuery}-width: ${responsive.resolution}px)`
					)
				if webp
					source(
						srcset=require(`${photo.url}?as=webp`)
						media=`(${responsive.mediaQuery}-width: ${responsive.resolution}px)`
						type='image/webp'
					)
		if webp
			source(
				srcset=require(`${url}?as=webp`)
				type='image/webp'
			)
		if url
			img(
				src=require(url)
				alt=alt
				class=modulePhotoImgFilteredClasses
			)
